html{
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    min-width: 1200px;
    min-height: 1030px;
    background-color: #ffffff;
}

.header{
    /*min-width: 100px;
    min-height: 80px;*/
    width:auto;
    height: auto;
    background-color: #274e13;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 10px;
    background-size: cover;
}

.logo img{
    min-width: 55px;
    min-height: 55px;
    border-radius: 5px;
}

.menu{
    min-width:200px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /*margin: 0px;*/
}

.nav_box {
    width: 600px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    /*margin: 0px;*/
    margin-top: 10px;
    margin-right: 5%;
    padding: 0px;
}

.search_bar{
    min-width: 200px;
    min-height: 25px;
    display: flex;
    justify-content: end;
    position: relative;
    white-space: nowrap;
}

.search_bar input#search{
    min-width: 300px;
    border-radius: 5px;
    background: #404757;
    color: #ffffff;
    outline: none;
    border:none;
    padding-left: 10%;
}

.search_bar .icon img{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 2%;
    margin-top: 3px;
}

nav a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 0 20px;
    margin: 0;
    font-family: "Microsoft JhengHei";
}

nav a:hover{
    background-color: #5b8148;
    border-radius: 3px;
}

.content_product{
    display: flex;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.content_product .head_product{
    position: absolute;
    font-family: "Microsoft JhengHei";
    font-size:40px;
    color:white;
    background-color: #134f5c;
    top:40%;
    left:3%;
    border-radius: 5px;
    padding: 0 20px;
    z-index: 10;
}

.info{
    display: block;
    position: absolute;
    min-height: 129.8px;
    max-height: 178px;
    min-width: 510px;
    top: 54%;
    left: 3%;
    right: 65%;
}

.info .about_product{
    position: absolute;
    background-color: rgba(102, 102, 102, 0.6);
    border-radius: 5px;
    padding: 25px 20px;
}

.info .btn_product{
    min-height: 128px;
    max-height: 178px;
    position: absolute;
    background-color: #134f5c;
    border-radius: 5px;
    left:100%;
}

.info .btn_product{
    display: flex;
    justify-content: center;
    align-items: center;
}

.receipe_about{
    display: flex;
    width: 100%;
}

.area{
    display: flex;
    position: relative;
    width: 60%;
}

.area .Img{
    position: relative;
    width: 100%;
}

.area .content_receipe{
    display: flex;
    position: absolute;
    bottom: 0%;
    right: 0%;
    min-width: 30%;
    max-width: 1500px;
    height: 100%;
    background: rgb(114, 0, 0);
    z-index: 10;
    
}

.area .content_receipe .red_triangle{
    position: absolute;
    border-top: 10vh solid  rgba(255, 255, 255, 0);
    border-bottom: 10vh solid rgba(255, 255, 255, 0);
    border-right: 10vw solid rgb(114, 0, 0);
    top: 40%;
    left:-18%;
}

.area .content_receipe .red{
    height: inherit;
    min-width: inherit;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    padding:0 20px;
}

.area .btn_receipe {
    position: relative;
    font-weight: 600;
    font-size: 20px;
}

.area .btn_receipe a{
    border:3px solid black;
    border-radius: 5px;
    padding: 3px;
}

.area2{
    position: relative;
    display: flex;
    width: 40%;
}

.area2 .Img{
    position: relative;
    width: 100%;
}

.area2 .yellow_triangle{
    display: flex;
    position: absolute;
    border-top: 45.4vh solid  rgba(255, 255, 255, 0);
    border-bottom: 45.4vh solid rgba(255, 255, 255, 0);
    border-left: 10vw solid #bf9000;
    left: 0%;
    z-index: 10;
}

.area2 .content_about {
    background: rgba(102, 102, 102, 0.6);
    border-radius: 5px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 39vw;
    font-weight: 500;
    position: absolute;
    padding:10px;
    right: 0;
    top: 43%;
}

footer p{
    width:auto;
    height: 8vh;
    background-color: #274e13;
    top: -15%;
    text-align: center;
    padding-top:5vh;
}